<!--
 * @Author: 秦少卫
 * @Date: 2023-03-07 00:00:38
 * @LastEditors: 秦少卫
 * @LastEditTime: 2024-06-26 14:10:57
 * @Description: file content
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="icon" href="<%- BASE_URL %>favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- APP_TITLE %></title>
  <meta name="keywords"
    content="在线修图工具,图片编辑器,美颜,抠图,相框,图片特效,fabric.js图片编辑器,Vue图片编辑器,图灵PS" />
  <meta name="description" content="图灵PS - 浏览器端在线修图工具：美颜、抠图、相框、插画特效、提亮、打印，打开即用，图片不离开浏览器。" />
  <style>
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-track {
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>